{{ include('components/meta.twig', sandboxed = true) }}
{{ include('components/svgstore.twig', sandboxed = true) }}

<div class="preload show1 active">
    <span class="preload__spinner"></span>
    <span class="preload__label">
        Загрузка...
    </span>
</div>

{{ include('components/popup.twig', sandboxed = true) }}
{{ include('components/sidebar.twig', sandboxed = true) }}

<div class="layout-wrapper">

    <div class="layout-content">
        
        {{ include('components/header.twig', sandboxed = true) }}
        
        <div class="layout-content__wrapper">
            
            content

        </div>

    </div>

</div>

{{ include('components/scripts.twig', sandboxed = true) }}