<div class="wrapper__helper">

    <ul class="treeview">
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/main" class="treeview__branch__link">
                <span class="treeview__branch__name">Сайт</span>
                <span class="treeview__branch__url">/</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/marketing" class="treeview__branch__link">
                <span class="treeview__branch__name">Маркетинг</span>
                <span class="treeview__branch__url">/marketing</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/seo" class="treeview__branch__link">
                <span class="treeview__branch__name">Поисковая оптимизация</span>
                <span class="treeview__branch__url">/seo</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/users" class="treeview__branch__link">
                <span class="treeview__branch__name">Пользователи</span>
                <span class="treeview__branch__url">/users</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/shop" class="treeview__branch__link">
                <span class="treeview__branch__name">Магазин</span>
                <span class="treeview__branch__url">/shop</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
        <li class="treeview__branch">
            <a href="/{{ ADMIN_DIR }}/site/pages/system" class="treeview__branch__link">
                <span class="treeview__branch__name">Система</span>
                <span class="treeview__branch__url">/system</span>
            </a>

            <a href="#" class="treeview__branch__sub-page">Add subpage</a>
        </li>
    </ul>
    
    {#
    <div class="control-treeview">
        <ol data-disposable="" class="">
            <li class="has-subitems" data-status="expanded" data-group-id="content" data-item-path="content" data-id="page-rainlab-bonjour-content">
            <div>
                <span class="expand">Expand</span>
                <a href="#">
                Content <span class="comment">/content</span>
                </a>
                <input type="hidden" name="object[content]" value="0">
                <div class="checkbox custom-checkbox nolabel">
                    <input id="cb9a0364b9e99bb480dd25e1f0284c8555" type="checkbox" name="object[content]" data-request="pageList::onSelect" value="1">
                    <label for="cb9a0364b9e99bb480dd25e1f0284c8555">Select</label>
                </div>
                <ul class="submenu">
                    <li>
                    <a href="#" data-control="create-object" data-parent="content">
                    <i class="icon-plus"></i>
                    Add subpage </a>
                    </li>
                </ul>
                <span class="drag-handle">Drag</span><span class="borders"></span>
            </div>
            <ol>
                <li class="has-subitems" data-status="expanded" data-group-id="content-pages" data-item-path="content-pages" data-id="page-rainlab-bonjour-content-pages">
                <div>
                    <span class="expand">Expand</span>
                    <a href="#">
                    Static Pages <span class="comment">/content/pages</span>
                    </a>
                    <input type="hidden" name="object[content-pages]" value="0">
                    <div class="checkbox custom-checkbox nolabel">
                        <input id="cb63fa6785eefe9aa0f45036224710b80e" type="checkbox" name="object[content-pages]" data-request="pageList::onSelect" value="1">
                        <label for="cb63fa6785eefe9aa0f45036224710b80e">Select</label>
                    </div>
                    <ul class="submenu">
                        <li>
                        <a href="#" data-control="create-object" data-parent="content-pages">
                        <i class="icon-plus"></i>
                        Add subpage </a>
                        </li>
                    </ul>
                    <span class="drag-handle">Drag</span><span class="borders"></span>
                </div>
                <ol>
                    <li class="" data-status="expanded" data-group-id="testasd" data-item-path="testasd" data-id="page-rainlab-bonjour-testasd">
                    <div>
                        <span class="expand">Expand</span>
                        <a href="#">
                        test <span class="comment">/testasd</span>
                        </a>
                        <input type="hidden" name="object[testasd]" value="0">
                        <div class="checkbox custom-checkbox nolabel">
                            <input id="cbf39c5d80f3716060853a860ff673984b" type="checkbox" name="object[testasd]" data-request="pageList::onSelect" value="1">
                            <label for="cbf39c5d80f3716060853a860ff673984b">Select</label>
                        </div>
                        <ul class="submenu">
                            <li>
                            <a href="#" data-control="create-object" data-parent="testasd">
                            <i class="icon-plus"></i>
                            Add subpage </a>
                            </li>
                        </ul>
                        <span class="drag-handle">Drag</span><span class="borders"></span>
                    </div>
                    <ol>
                    </ol>
                    </li>
                </ol>
                </li>
                <li class="" data-status="expanded" data-group-id="content-content" data-item-path="content-content" data-id="page-rainlab-bonjour-content-content">
                <div>
                    <span class="expand">Expand</span>
                    <a href="#">
                    Content <span class="comment">/content/content</span>
                    </a>
                    <input type="hidden" name="object[content-content]" value="0">
                    <div class="checkbox custom-checkbox nolabel">
                        <input id="cbf700390a33fa42a22a8f1d93738924ad" type="checkbox" name="object[content-content]" data-request="pageList::onSelect" value="1">
                        <label for="cbf700390a33fa42a22a8f1d93738924ad">Select</label>
                    </div>
                    <ul class="submenu">
                        <li>
                        <a href="#" data-control="create-object" data-parent="content-content">
                        <i class="icon-plus"></i>
                        Add subpage </a>
                        </li>
                    </ul>
                    <span class="drag-handle">Drag</span><span class="borders"></span>
                </div>
                <ol>
                </ol>
                </li>
                <li class="" data-status="expanded" data-group-id="content-models" data-item-path="content-models" data-id="page-rainlab-bonjour-content-models">
                <div>
                    <span class="expand">Expand</span>
                    <a href="#">
                    Models <span class="comment">/content/models</span>
                    </a>
                    <input type="hidden" name="object[content-models]" value="0">
                    <div class="checkbox custom-checkbox nolabel">
                        <input id="cbaa13e60ac6acccceb981184d246c1056" type="checkbox" name="object[content-models]" data-request="pageList::onSelect" value="1">
                        <label for="cbaa13e60ac6acccceb981184d246c1056">Select</label>
                    </div>
                    <ul class="submenu">
                        <li>
                        <a href="#" data-control="create-object" data-parent="content-models">
                        <i class="icon-plus"></i>
                        Add subpage </a>
                        </li>
                    </ul>
                    <span class="drag-handle">Drag</span><span class="borders"></span>
                </div>
                <ol>
                </ol>
                </li>
                <li class="" data-status="expanded" data-group-id="content-urls" data-item-path="content-urls" data-id="page-rainlab-bonjour-content-urls">
                <div>
                    <span class="expand">Expand</span>
                    <a href="#">
                    URLs <span class="comment">/content/urls</span>
                    </a>
                    <input type="hidden" name="object[content-urls]" value="0">
                    <div class="checkbox custom-checkbox nolabel">
                        <input id="cbf4b26a01516e730ee723a34deeb1778f" type="checkbox" name="object[content-urls]" data-request="pageList::onSelect" value="1">
                        <label for="cbf4b26a01516e730ee723a34deeb1778f">Select</label>
                    </div>
                    <ul class="submenu">
                        <li>
                        <a href="#" data-control="create-object" data-parent="content-urls">
                        <i class="icon-plus"></i>
                        Add subpage </a>
                        </li>
                    </ul>
                    <span class="drag-handle">Drag</span><span class="borders"></span>
                </div>
                <ol>
                </ol>
                </li>
            </ol>
            </li>
        </ol>
    </div>
    #}
</div>