<!DOCTYPE html>
<!-- (c) lnk. CELEBRO Studio | http://celebro.ru -->
<html lang="ru" class="no-js" itemscope="itemscope" xmlns="http://www.w3.org/1999/xhtml" itemtype="http://schema.org/WebPage">
<head>
    <link rel="stylesheet" href="/{{ ADMIN_DIR }}/css/main.min.css">

    <meta charset="UTF-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="320" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <meta content="notranslate" name="google">
    
    <!-- Update for history api -->
    <base href="http://fastest.dev/">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ ADMIN_DIR }}/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/{{ ADMIN_DIR }}/favicon/{{ ADMIN_DIR }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/{{ ADMIN_DIR }}/favicon/{{ ADMIN_DIR }}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/{{ ADMIN_DIR }}/favicon/{{ ADMIN_DIR }}/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/{{ ADMIN_DIR }}/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="manifest" href="/{{ ADMIN_DIR }}/favicon/manifest.json">
    <link rel="mask-icon" href="/{{ ADMIN_DIR }}/favicon/safari-pinned-tab.svg" color="#4169e1">
    <link rel="shortcut icon" href="/{{ ADMIN_DIR }}/favicon/{{ ADMIN_DIR }}/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/{{ ADMIN_DIR }}/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/{{ ADMIN_DIR }}/favicon/browserconfig.xml">
    <meta name="theme-color" content="#4169e1">

    <meta content="{{ session.csrf_param }}" name="csrf-param">
    <meta content="{{ session[session.csrf_param] }}" name="csrf-token">

    <!--[if lt IE 9]>
        <link rel="icon" type="image/png" href="/{{ ADMIN_DIR }}/favicon/{{ ADMIN_DIR }}/favicon-16x16.png" sizes="16x16">
    <![endif]-->

    <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
    <title itemprop="name">{{ app.title }}</title>
</head>
<body>